$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1370;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainFont: "Roboto";

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	width: 100%;
}
.main-content {
	flex: 1 1 auto;
}

.banners-titles {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	@include adaptiv-value("font-size", 55, 30, 1);
	@include adaptiv-value("line-height", 68, 30, 1);
	letter-spacing: 1.8px;
	color: #212529;
}
.banner-inputs {
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 100px;
	max-width: 508px;
	width: 100%;
	margin-bottom: 8px;
	display: grid;
	grid-template-columns: 60% 40%;
	@media (max-width: $md3+px) {
		grid-template-columns: 1fr;
		margin: 0 auto;
	}
	@media (min-width: $md3+px) and (max-width: $md2+px) {
		grid-template-columns: 53% 47%;
	}
	input {
		border: 1px solid #e3e7e2;
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		padding-left: 20px;
		border-radius: 100px 0px 0px 100px;
		min-height: 78px;
		@media (max-width: $md3+px) {
			margin-bottom: 15px;
			border-radius: 100px;
			text-align: center;
		}
	}
	input::placeholder {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		color: #8d9499;
	}
}
.join-free {
	font-style: normal;
	font-family: $mainFont;
	font-weight: normal;
	line-height: 24px;
	color: #8d9499;
	@media (max-width: $md3+px) {
		text-align: center;
		margin: 0 auto;
	}
}
.banner-btns {
	font-family: $mainFont;
	border-radius: 0px 100px 100px 0px;
	background: #415aff;
	font-style: normal;
	font-weight: normal;
	@include adaptiv-value("font-size", 18, 14, 1);
	line-height: 24px;
	padding: 26px 28px;
	color: #ffffff;
	transition: all 1s;
	@media (any-hover: hover) {
		&:hover {
			._icon-arrow-right::before {
				animation-name: arrow;
				animation-timing-function: linear;
				animation-duration: 1000ms;
				animation-iteration-count: infinite;
			}
		}
	}
	@keyframes arrow {
		0% {
			margin-left: 20px;
		}
		50% {
			margin-left: 10px;
		}
		100% {
			margin-left: 20px;
		}
	}

	._icon-arrow-right::before {
		color: #fff;
		@include adaptiv-value("margin-left", 10, 3, 1);
		vertical-align: middle;
	}
	@media (max-width: $md3+px) {
		border-radius: 100px;
		margin-bottom: 8px;
	}
}

.box-subtitle {
	font-family: $mainFont;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #212529;
}
.box-title {
	font-family: $mainFont;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #212529;
}
.box-text {
	font-family: $mainFont;
	font-style: normal;
	font-weight: bold;
	@include adaptiv-value("font-size", 56, 46, 1);
	line-height: 72px;
	letter-spacing: 2.25px;
	color: #212529;
}
.box-btn {
	font-family: $mainFont;
	background: #f5ff93;
	border-radius: 36px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #191919;
	padding: 27px 27px;
	max-width: 274px;
	width: 100%;
	transition: all 0.5s;
	@media (any-hover: hover) {
		&:hover {
			color: #f5ff93;
			background: #191919;
			._icon-arrow-right::before {
				color: #f5ff93;
			}
		}
	}
}

.box-subtitle,
.box-title,
.box-text,
.box-btn {
	@media (max-width: $md3+px) {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}
