@import "mixins";
@import "_null";
@import "nice-select";
@import "_reapetsstyle";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap");

//Header
.header {
	padding: 34px 0 30px 32px;
	display: grid;
	grid-template-columns: 120px 1fr;
	align-items: center;
	.header-menu__icon {
		display: none;
		@media (max-width: $md3+px) {
			display: block;
			position: fixed;
			top: 31px;
			right: 15px;
			width: 39px;
			height: 23px;
			cursor: pointer;
			z-index: 6;
			span {
				transition: all 0.3s ease 0s;
				top: calc(50% - 1px);
				margin-left: -1px;
				left: 0px;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #000;
				&:first-child {
					top: 0px;
				}
				&:last-child {
					top: auto;
					bottom: 0px;
				}
			}
			&.active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
						background-color: #fff;
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1px);
						background-color: #fff;
					}
				}
			}
		}
	}

	.header-menu {
		display: grid;

		@media (max-width: $md3+px) {
			position: fixed;
			left: 0;
			top: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.8);
			padding: 70px 10px 20px 0;
			transition: all 0.8s ease 0s;
			z-index: 5;
		}
	}
	.header-menu.active {
		top: 0;
	}

	.list-item {
		display: inline-grid;
		margin-left: 12px;
		margin-right: 12px;
		@media (max-width: $md3+px) {
			display: grid;
			justify-items: center;
			margin-bottom: 25px;
		}
	}
	.item-link {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #191919;
		transition: all 0.3s;
		&:hover {
			color: #415aff;
		}
		@media (max-width: $md3+px) {
			color: #fff;
			font-size: 30px;
			text-transform: uppercase;
		}
	}
	.item-link.actve {
		color: #415aff;
	}
	.item-link:focus {
		color: #415aff;
	}
}

//Banner
.banner-top {
	padding: 68px 15px 80px;
	.banner-top-wrapper {
		display: grid;
		grid-template-columns: 56% 35%;
		justify-content: center;
		align-items: center;
		max-width: 1300px;
		padding: 0 15px;
		margin: 0 auto;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			grid-template-columns: 100%;
		}
		@media (min-width: 768px) and (max-width: 1200px) {
			grid-template-columns: 56% 44%;
		}
	}

	.banners-titles {
		@include adaptiv-value("margin-bottom", 47, 15, 1);
	}
	.banner-text {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		@include adaptiv-value("font-size", 20, 16, 1);
		line-height: 28px;
		color: #191919;
		margin-bottom: 30px;
	}
	.banner-img {
		img {
			width: 100%;
			object-fit: contain;
			height: 100%;
			display: block;
		}
	}
	div {
		@extend .join-free;
	}
}

//Know
.know {
	max-width: 687px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 60px;
	.know-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		justify-items: center;
		grid-row-gap: 30px;
	}
	.know-main-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #212529;
		margin-bottom: 30px;
		padding-left: 16px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	.know-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		line-height: 40px;
		letter-spacing: 1.5px;
		color: #44464d;
		padding: 0 10px 0 16px;
	}
}

//Featured
.featured {
	padding: 0 15px 80px;

	width: 100%;
	margin: 0 auto;

	.featured-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #212529;
		margin-bottom: 24px;
	}
	.featured-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		align-items: center;
		justify-items: center;
		max-width: 1054px;
		margin: 0 auto;
		padding: 0 15px;
		img {
			width: 336px;
			height: 50px;
			object-fit: contain;
			display: block;
			width: 100%;
		}
	}
}

//Trackers
.trackers {
	padding: 60px 0;
	.trackers-wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		align-items: center;
		@media (max-width: $md2+px) {
			grid-template-columns: auto;
			width: 100%;
		}
	}

	.trackers-protector {
		background-image: url("../img/Frame-left.png");
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 630px;
		width: 100%;
		min-height: 760px;
		grid-column: 1 / 3;
		display: grid;
		justify-items: center;
		@include adaptiv-value("padding-top", 50, 15, 4);
		@media (min-width: 1800px) {
			padding-top: 110px;
		}
		@media (max-width: $md1+px) {
			padding: 15px;
			background-image: url();
			min-height: auto;
			margin: 0 auto;
		}
	}
	.trackers-shield {
		display: inline-block;
		align-items: center;
		justify-items: center;
		background-color: #fff;
		border-radius: 15px;
		margin-bottom: 15px;
		padding: 25px;
		img {
			display: block;
			width: 100%;
			object-fit: contain;
			height: 100%;
		}
		@media (max-width: $md1+px) {
			box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.12);
		}
	}
	.trackers-track-wrapper {
		background-color: #fff;
		border-radius: 15px;
		padding: 25px 24px;
		@media (max-width: $md1+px) {
			box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.12);
		}
	}
	.trackers-protector-wrapper {
		max-width: 389px;
		width: 100%;
		@media (max-width: $md3+px) {
			max-width: 100%;
		}
	}
	.trackers-subtitle {
		font-family: $mainFont;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 2px;
		color: #737980;
		text-transform: uppercase;
		margin-bottom: 7px;
	}

	.trackers-count {
		margin-bottom: 30px;
		strong {
			font-size: 20px;
			font-family: $mainFont;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			color: #f4604d;
			margin-right: 6px;
		}
		.slash {
			margin-right: 5px;
			opacity: 0.6;
		}
		span {
			font-size: 18px;
			font-family: $mainFont;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			color: #2c2e33;
		}
	}
	.trackers-sites {
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-family: $mainFont;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #2c2e33;

		margin-bottom: 20px;
		.trackers-sites-num {
			justify-self: self-end;
		}
	}
	.trackers-hall {
		margin-bottom: 20px;
	}
	.shame-wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		span {
			font-size: 20px;
			font-family: $mainFont;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			color: #2c2e33;
		}
	}
	.trackers-hall-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #737980;
		margin-bottom: 13px;
	}
	.trackers-check {
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			font-family: $mainFont;
			font-style: normal;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: #484a4d;
		}
	}
	.trackers-right-side {
		grid-column: 6 / 4;
		padding: 78px;
		@media (max-width: $md3+px) {
			grid-column: auto;
			padding: 15px;
		}
		@media (min-width: 768px) and (max-width: $md1+px) {
			padding: 15px;
		}
	}
	h4 {
		@extend .box-subtitle;
		margin-bottom: 8px;
	}
	h3 {
		@extend .box-title;
		margin-bottom: 30px;
	}
	p {
		@extend .box-text;
		@include adaptiv-value("margin-bottom", 100, 30, 1);
	}
	a {
		@extend .box-btn;
	}
	._icon-arrow-right::before {
		color: #191919;
		vertical-align: middle;
		margin-left: 16px;
	}
	@supports (-webkit-appearance: none) or (-moz-appearance: none) {
		input[type="checkbox"],
		input[type="radio"] {
			--active: #275efe;
			--active-inner: #fff;
			--focus: 2px rgba(39, 94, 254, 0.3);
			--border: #bbc1e1;
			--border-hover: #275efe;
			--background: #fff;
			--disabled: #f6f8ff;
			--disabled-inner: #e1e6f9;
			-webkit-appearance: none;
			-moz-appearance: none;
			height: 21px;
			outline: none;
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin: 0;
			cursor: pointer;
			border: 1px solid var(--bc, var(--border));
			background: var(--b, var(--background));
			transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
			&:after {
				content: "";
				display: block;
				left: 0;
				top: 0;
				position: absolute;
				transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
			}
			&:checked {
				--b: var(--active);
				--bc: var(--active);
				--d-o: 0.3s;
				--d-t: 0.6s;
				--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
			}
			&:disabled {
				--b: var(--disabled);
				cursor: not-allowed;
				opacity: 0.9;
				&:checked {
					--b: var(--disabled-inner);
					--bc: var(--border);
				}
				& + label {
					cursor: not-allowed;
				}
			}
			&:hover {
				&:not(:checked) {
					&:not(:disabled) {
						--bc: var(--border-hover);
					}
				}
			}
			&:focus {
				box-shadow: 0 0 0 var(--focus);
			}
			&:not(.switch) {
				width: 21px;
				&:after {
					opacity: var(--o, 0);
				}
				&:checked {
					--o: 1;
				}
			}
			& + label {
				font-size: 14px;
				line-height: 21px;
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
				margin-left: 4px;
			}
		}
		input[type="checkbox"] {
			&:not(.switch) {
				border-radius: 7px;
				&:after {
					width: 5px;
					height: 9px;
					border: 2px solid var(--active-inner);
					border-top: 0;
					border-left: 0;
					left: 7px;
					top: 4px;
					transform: rotate(var(--r, 20deg));
				}
				&:checked {
					--r: 43deg;
				}
			}
			&.switch {
				width: 38px;
				border-radius: 11px;
				&:after {
					left: 2px;
					top: 2px;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					background: var(--ab, var(--border));
					transform: translateX(var(--x, 0));
				}
				&:checked {
					--ab: var(--active-inner);
					--x: 17px;
				}
				&:disabled {
					&:not(:checked) {
						&:after {
							opacity: 0.6;
						}
					}
				}
			}
		}
		input[type="radio"] {
			border-radius: 50%;
			&:after {
				width: 19px;
				height: 19px;
				border-radius: 50%;
				background: var(--active-inner);
				opacity: 0;
				transform: scale(var(--s, 0.7));
			}
			&:checked {
				--s: 0.5;
			}
		}
	}
}

//generic
.generic {
	padding-bottom: 60px;
	.generic-wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		align-items: center;
		@media (max-width: $md3+px) {
			grid-template-columns: auto;
		}
	}

	.generic-left-side {
		grid-column: 2 / 4;
		@media (max-width: $md3+px) {
			grid-column: auto;
			margin-bottom: 60px;
			padding: 0 15px;
		}
		@media (min-width: 767.98px) and (max-width: 1500px) {
			grid-column: 2 / span 4;
		}
	}
	h4 {
		@extend .box-subtitle;
		margin-bottom: 8px;
	}
	h3 {
		@extend .box-title;
		margin-bottom: 30px;
	}
	p {
		@extend .box-text;
		@include adaptiv-value("margin-bottom", 100, 30, 1);
	}
	a {
		@extend .box-btn;
	}
	._icon-arrow-right {
		color: #191919;
		vertical-align: middle;
		margin-left: 16px;
	}
	._icon-arrow-right::before {
		color: #191919;
	}
	.generic-right-wrapper {
		grid-column: -1 / -2;
		background-image: url("../img/Frame-right.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right center;
		display: grid;
		align-content: center;
		justify-items: end;
		width: 522px;
		height: 766px;
		@media (max-width: $md2+px) {
			background-image: url();
			display: block;
			height: auto;
			margin: 0 auto;
			padding: 0 15px;
			width: 100%;
		}
	}
	.generic-form {
		background-color: #fff;
		padding: 36px 13px 33px 27px;
		border-top-left-radius: 15px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 15px;
		@media (max-width: $md2+px) {
			box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.12);
			border-radius: 15px;
			margin: 0 auto;
			padding: 15px;
		}
	}
	.generic-custom-serch {
		border: 1px solid #dddddd;
		border-radius: 9px;
		padding: 11px;
		margin-bottom: 41px;
		max-width: 252px;
		width: 100%;
		input {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			color: #191919;
		}
		.fas.fa-search {
			color: #c1c1c1;
		}
		@media (max-width: $md2+px) {
			max-width: 100%;
		}
	}
	.generic-wrapper-img {
		display: grid;
		grid-column-gap: 15px;
		grid-template-columns: 34px 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.generic-form-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #191919;
		margin-bottom: 30px;
	}
	.generic-form-text {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: self-end;
		align-items: center;
		grid-row-gap: 11px;
		@media (max-width: $md2+px) {
			justify-items: stretch;
		}
		p {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			color: #303030;
			margin-bottom: 11px;
		}
		.news {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #8c8c8c;
		}
	}
	.generic-form-img {
		background: #000;
		display: inline-block;
		grid-row: 1 / 3;
		width: 34px;
		height: 41px;
		border-radius: 6px;
		padding: 9px;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
		}
	}
	.generic-form-dropdown {
		max-width: 150px;
		width: 100%;
		.nice-select {
			width: 100%;
			border-radius: 25px;
			color: #008f65;
			vertical-align: middle;
			border-color: #d1d1d1;
			&::after {
				content: "";
				border-bottom: 2px solid #008f65;
				border-right: 2px solid #008f65;
				width: 7px;
				height: 7px;
			}
			&::before {
				content: "";
				width: 12px;
				height: 15px;
				background: #008f65;
				border-radius: 4px;
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
				margin-bottom: 5px;
			}
		}
		select {
			color: #008f65;
		}
	}
}

.join {
	padding: 60px 0px 75px;
	max-width: 786px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	@media (max-width: $md3+px) {
		padding: 15px 0;
	}
	h2 {
		margin-bottom: 51px;
		font-weight: bold;
		@extend .banners-titles;
	}
	.join-form {
		margin-bottom: 8px;
	}

	.banner-inputs {
		margin: 0 auto;
		@media (max-width: $md3+px) {
			padding: 0 15px;
		}
	}
	button {
		@extend .banner-btns;
	}
	span {
		@extend .join-free;
	}
}

.experts {
	padding: 75px 0 60px;
	h4 {
		@extend .box-title;
		margin-bottom: 8px;
	}
	p {
		@extend .box-text;
		@include adaptiv-value("margin-bottom", 100, 30, 1);
	}
	a {
		@extend .box-btn;
	}
	._icon-arrow-right::before {
		color: #191919;
		vertical-align: middle;
		margin-left: 16px;
	}
	h4,
	p,
	a {
		@media (max-width: $md2+px) {
			text-align: center;
			margin: 0 auto;
			display: block;
		}
	}
	.experts-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		align-items: center;
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;
		@media (max-width: $md2+px) {
			grid-template-columns: 1fr;
		}
	}
	.experts-left-side {
		margin-bottom: 60px;
	}
	.experts-right-side {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 31.5%));
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 130px;
		grid-row-gap: 60px;
		justify-content: end;
		@media (max-width: $md3+px) {
			grid-template-columns: 0fr;
			margin: 0 auto;
			text-align: center;
		}
		@media (min-width: 768px) and (max-width: $md2+px) {
			justify-content: center;
			column-gap: 130px;
			grid-template-columns: 21% 21%;
		}
	}
	img {
		height: 222px;
		width: 179px;
		margin-bottom: 16px;
		object-fit: contain;
		display: block;
		@media (max-width: $md3+px) {
			margin: 0 auto;
			margin-bottom: 16px;
		}
	}
	.card-items-name {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
		color: #212529;
		margin-bottom: 6px;
	}
	.card-items-position {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		color: #212529;
	}
}

.people {
	padding: 75px 0 68px;
	.people-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 40px;
		letter-spacing: 1.5px;
		color: #212529;
		margin-bottom: 56px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	.people-card-body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
		grid-gap: 30px;
	}
	.people-card-item {
		padding: 46px 61px 42px 48px;
		background: #ffffff;
		box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
		border-radius: 16px;
		min-height: 316px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: all .3s;
		img {
			display: block;
			width: auto;
			height: auto;
			object-fit: contain;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.20);
			}
		}
	}
	.card-text {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		color: #212529;
		flex: 1 1 auto;
	}
	span {
		display: block;
	}
}

.banner-bottom {
	padding: 68px 15px 80px;

	.banner-bottom-wrapper {
		max-width: 1270px;
		margin: 0 auto;
		padding: 0 15px;
		display: grid;
		grid-template-columns: 56% 30%;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			grid-template-columns: 100%;
		}
		@media (min-width: 768px) and (max-width: 1200px) {
			grid-template-columns: 56% 44%;
		}
	}
	.banner-content {
		@media (max-width: $md3+px) {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.banners-titles {
		margin-bottom: 47px;
	}
	.banner-img {
		img {
			width: 100%;
			object-fit: contain;
			height: 100%;
			display: block;
		}
	}
}
//footer
.footer {
	padding: 47px 0 0px;
	.footer-wrapper {
		display: grid;
		grid-template-columns: 438px 1fr 201px;
		padding: 0 38px 49px;
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	.footer-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width: $md4+px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 30px 1fr;
			grid-row-gap: 15px;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 15px;
		}
	}
	.footer-menu {
		@media (max-width: $md4+px) {
			grid-row-start: 2;
		}
	}
	.item-link {
		font-family: $mainFont;
		font-style: normal;
		font-weight: bold;
		font-size: 13px;
		line-height: 24px;
		color: #191919;
		transition: color .3s;
		@media (any-hover: hover) {
			&:hover {
				color: #415AFF;
			}
		}
	}
	.footer-social-copy {
		grid-column-start: 3;
		display: flex;
		flex-direction: column;
		@media (max-width: $md3+px) {
			align-items: center;
			.fab {
				margin: 0 15px 15px;
			}
		}
	}
	.footer-social {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		a {
			color: inherit;
			@media (any-hover: hover){
				&:hover{
					color: #415AFF;
				}
			}
		}
		
	}

	.footer-copy {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #191919;
	}
	.footer-bottom-img {
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
